In [1]:
import requests
import pandas as pd
import sqlite3 as lite
#import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm
#%matplotlib inline
from collections import Counter
import itertools
import re

In [2]:
df = pd.read_csv('dog-vacay.csv')

In [3]:
df.shape

(4662, 18)

In [4]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [5]:
df.head()

,city,fee,names,ratings,repeat,response_time,review,services,boarding,sitting,daycare,checkups,walking,bathing,training,grooming,pickup/dropoff
0,"Phoenix, Arizona",35,Big Backyard in Central Phoenix,5,8,1,26,2,1,0,1,0,0,0,0,0,0
1,"Phoenix, Arizona",35,SUZY Q to the Rescue,5,16,2,30,3,1,0,0,1,0,0,0,0,1
2,"Phoenix, Arizona",35,24/7 Dog boarding,0,0,1,0,4,1,0,1,1,1,0,0,0,0
3,"Phoenix, Arizona",38,Messy4dogs@gmail.com,5,2,3,3,4,1,0,1,1,1,0,0,0,0
4,"Phoenix, Arizona",25,Pet Paradise,5,1,1,5,4,1,0,0,1,1,1,0,0,0

In [6]:
df.groupby('city').mean()

,fee,ratings,repeat,response_time,review,services,boarding,sitting,daycare,checkups,walking,bathing,training,grooming,pickup/dropoff
city,,,,,,,,,,,,,,,
"Atlanta, Georgia",32.216374,4.108187,6.274854,1.625731,13.549708,3.356725,1.000000,0.368421,0.748538,0.491228,0.339181,0.169591,0.035088,0.011696,0.192982
"Austin, Texas",31.566929,3.472441,4.622047,1.488189,9.716535,3.181102,0.874016,0.393701,0.527559,0.472441,0.425197,0.165354,0.031496,0.015748,0.275591
"Boston, Massachusetts",40.935135,4.186486,5.389189,1.621622,10.556757,2.951351,1.000000,0.259459,0.589189,0.378378,0.356757,0.124324,0.010811,0.000000,0.232432
"Charlotte, North Carolina",31.516129,4.123656,6.602151,1.752688,11.709677,3.365591,1.000000,0.408602,0.774194,0.526882,0.376344,0.139785,0.053763,0.010753,0.075269
"Dallas, Texas",31.372093,3.279070,6.284884,1.546512,12.889535,3.250000,0.895349,0.372093,0.651163,0.453488,0.418605,0.186047,0.052326,0.029070,0.191860
"Denver, Colorado",31.228395,3.799383,7.055556,1.629630,12.796296,2.993827,1.000000,0.283951,0.703704,0.351852,0.320988,0.080247,0.000000,0.006173,0.246914
"Houston, Texas",32.235294,3.633987,6.790850,1.411765,14.163399,3.228758,1.000000,0.274510,0.699346,0.535948,0.274510,0.228758,0.032680,0.032680,0.150327
"Los Angeles, California",40.957092,3.023838,4.514899,1.551847,9.828367,3.339690,0.835518,0.506555,0.649583,0.514899,0.450536,0.138260,0.035757,0.013111,0.195471
"Miami, Florida",34.447761,3.264925,3.597015,1.604478,8.447761,3.477612,1.000000,0.320896,0.723881,0.470149,0.485075,0.253731,0.052239,0.000000,0.171642
"Minneapolis, Minnesota",30.942857,3.990476,6.533333,1.523810,12.857143,2.857143,1.000000,0.180952,0.580952,0.323810,0.361905,0.180952,0.000000,0.000000,0.228571
"New York, New York",44.593418,2.833864,2.533970,1.566879,5.562633,3.061571,1.000000,0.301486,0.600849,0.368365,0.404459,0.142251,0.022293,0.006369,0.215499
"Philadelphia, Pennsylvania",36.563218,3.448276,5.482759,1.620690,11.017241,3.091954,1.000000,0.275862,0.666667,0.419540,0.390805,0.143678,0.005747,0.005747,0.183908
"Phoenix, Arizona",32.403226,3.701613,5.112903,1.516129,10.096774,3.104839,1.000000,0.306452,0.661290,0.395161,0.362903,0.177419,0.032258,0.048387,0.120968
"Portland, Oregon",32.709459,3.641892,5.047297,1.675676,9.662162,3.148649,1.000000,0.270270,0.621622,0.452703,0.439189,0.128378,0.033784,0.000000,0.202703
"San Diego, California",37.210843,3.343373,4.060241,1.512048,8.614458,3.283133,1.000000,0.403614,0.704819,0.469880,0.415663,0.108434,0.024096,0.018072,0.138554
"San Francisco, California",44.171362,3.588028,5.382629,1.683099,9.899061,3.241784,0.830986,0.420188,0.612676,0.427230,0.464789,0.204225,0.039906,0.014085,0.227700
"Seattle, Washington",33.757353,4.000000,6.610294,1.463235,12.132353,3.257353,1.000000,0.301471,0.757353,0.463235,0.411765,0.117647,0.051471,0.014706,0.139706
"Washington, District Of Columbia",39.182716,3.954321,5.883951,1.634568,11.861728,2.859259,1.000000,0.229630,0.545679,0.350617,0.348148,0.153086,0.014815,0.000000,0.217284

In [12]:
sea = df[df.city == 'Seattle, Washington']
atx = df[df.city == 'Austin, Texas']

In [13]:
sea.describe()

,fee,ratings,repeat,response_time,review,services,boarding,sitting,daycare,checkups,walking,bathing,training,grooming,pickup/dropoff
count,136.000000,136.000000,136.000000,136.000000,136.000000,136.000000,136,136.000000,136.000000,136.000000,136.000000,136.000000,136.000000,136.000000,136.000000
mean,33.757353,4.000000,6.610294,1.463235,12.132353,3.257353,1,0.301471,0.757353,0.463235,0.411765,0.117647,0.051471,0.014706,0.139706
std,10.111597,1.959781,12.118656,0.719136,21.998926,1.018323,0,0.460593,0.430268,0.500490,0.493972,0.323381,0.221772,0.120818,0.347963
min,15.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28.000000,4.500000,0.000000,1.000000,1.000000,2.000000,1,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,32.000000,5.000000,2.000000,1.000000,4.500000,4.000000,1,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,40.000000,5.000000,6.000000,2.000000,10.000000,4.000000,1,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,85.000000,5.000000,65.000000,3.000000,117.000000,4.000000,1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000